:root{
    --body-bg: #2c2c2c;
    --side-panel-bg: #252525;
    --side-panel-hover-bg: #505050;
    --main-panel-bg: #58585846;
    --text-color: white;
    --font-family-side: "Verdana", sans-serif;
    --font-family-main: "Arial", sans-serif;
}

#side-panel {
    position: fixed;
    left: 0;
    top: 0;
    width: 220px;
    height: 100%;
    background-color: var(--side-panel-bg);
    color: white;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

#side-panel nav ul {
    list-style-type: none;
    padding: 0;
}

#side-panel nav ul li {
    margin: 0;
    padding: 10px;
    font-family: "Verdana", sans-serif;
    font-size: 16px;
}

#side-panel nav ul li:hover {
    background-color: var(--side-panel-hover-bg);
    cursor: pointer;
}

#side-panel nav ul li a {
    color: white;
    text-decoration: none;
}

#main-panel{
    margin-left: 240px;
}

#main-panel section {
    padding: 10px;
    font-family: "Arial", sans-serif;
    border-radius: 20px;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--body-bg);
}

.project-card {
    color: var(--text-color);
    background-color: var(--main-panel-bg);
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.project-card .project-top {
    background-color: #222;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px 10px 0 0;
}

.project-card .project-body {
    padding: 15px;
}

.project-card h3 {
    color: #ffa631;
}

.project-card a {
    color: #7092ff;
    font-style: italic;
}

.project-card p {
    margin-bottom: 20px;
    line-height: 200%;
}

.project-card img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.stack-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.tech {
    text-align: center;
    background-color: #292929;
    border: 1px solid #4b4b4b;
    color: #bbb;
    border-radius: 20px;
    padding: 5px 20px;
}

#footer{
    margin-left: 240px;
    padding: 10px;
    background-color: #0a0a0ac7;
    color: #ffffff;
    font-family: "Verdana", sans-serif;
    font-size: 14px;
}

.social-links{
    display: flex;
    gap: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.social-btn{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin: 15px;
    color: #ffffff;
    text-decoration: none;
}

.social-btn {
    width: 30px;
    font-size: 2em;
    transition: transform 0.2s ease;
}

.social-btn:hover {
    transform: scale(1.12);
}