:root{
    --body-bg: #232d35;
    --side-panel-bg: #17212b;
    --side-panel-hover-bg: #34495e;
    --main-panel-bg: #4b6177;
    --text-color: white;
    --font-family-side: "Verdana", sans-serif;
    --font-family-main: "Arial", sans-serif;
}

#side-panel {
    position: fixed;
    left: 0;
    top: 0;
    width: 220px;
    height: 100%;
    background-color: var(--side-panel-bg);
    color: white;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

#side-panel nav ul {
    list-style-type: none;
    padding: 0;
}

#side-panel nav ul li {
    margin: 0;
    padding: 10px;
    font-family: "Verdana", sans-serif;
    font-size: 16px;
}

#side-panel nav ul li:hover {
    background-color: var(--side-panel-hover-bg);
    cursor: pointer;
}

#side-panel nav ul li a {
    color: white;
    text-decoration: none;
}

#main-panel{
    margin-left: 240px;
}

#main-panel section {
    padding: 10px;
    font-family: "Arial", sans-serif;
    border-radius: 20px;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--body-bg);
}

.project-card {
    color: var(--text-color);
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.project-card h3 {
    color: #cf73f3;
}

.project-card a {
    color: #66f5ff;
    font-style: italic;
}

.project-card p {
    margin-bottom: 20px;
    line-height: 200%;
}

.project-card img {
    max-width: 80%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.stack-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.tech {
    text-align: center;
    background-color: #20262b;
    border: 1px solid #444c52;
    border-radius: 20px;
    padding: 5px 20px;
}